@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #4caf50;
    color: #777;
    font-family: 'Roboto', 'Helvetica', sans-serif;
    font-size: 12px;
    font-weight: 200;
}

.container {
    margin: 0 auto;
    max-width: 400px;
    position: relative;
    width: 100%;
}

.contact {
    background: #f9f9f9;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    margin: 90px 0;
    padding: 25px;
}

.contact h3 {
    display: block;
    font-size: 30px;
    font-weight: 100;
    margin-bottom: 10px;
}

.contact h4 {
    display: block;
    font-size: 15px;
    font-weight: 100;
    margin: 5px 0 15px;
}

.contact input[type="text"],
.contact input[type="email"],
.contact input[type="tel"],
.contact textarea {
    background: #fff;
    border: 1px solid #ccc;
    margin: 0 0 14px;
    font-family: 'Roboto', 'Helvetica';
    font-size: 12px;
    padding: 10px;
    width: 100%;
}

.contact input[type="text"]:hover,
.contact input[type="email"]:hover,
.contact input[type="tel"]:hover,
.contact textarea:hover {
    border: 1px solid #aaa;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.contact textarea {
    height: 100px;
    max-width: 100%;
    resize: none;
}

.contact button{
    background: #4caf50;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 15px;
    margin: 8px 0;
    padding: 10px;
    width: 100%;
}

.contact button:hover{
    background: #43a047;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}